@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "League Spartan", sans-serif;
}
:root {
  --bg: hsl(222, 26%, 31%);
  --toggle-bg: hsl(223, 31%, 20%);
  --screen-bg: hsl(224, 36%, 15%);
  --toggle-color: hsl(6, 63%, 50%);
  --toggle-shadow: hsl(6, 70%, 34%);
  --main-key-bg: hsl(225, 21%, 49%);
  --main-key-shadow: hsl(224, 28%, 35%);
  --key-bg: hsl(30, 25%, 89%);
  --key-shadow: hsl(28, 16%, 65%);
  --text-primary: hsl(221, 14%, 31%);
  --text-secondary: hsl(0, 0%, 100%);
  --text-dark: hsl(0, 0%, 100%);
}
.theme-one {
  --bg: hsl(222, 26%, 31%);
  --toggle-bg: hsl(223, 31%, 20%);
  --screen-bg: hsl(224, 36%, 15%);
  --toggle-color: hsl(6, 63%, 50%);
  --toggle-shadow: hsl(6, 70%, 34%);
  --main-key-bg: hsl(225, 21%, 49%);
  --main-key-shadow: hsl(224, 28%, 35%);
  --key-bg: hsl(30, 25%, 89%);
  --key-shadow: hsl(28, 16%, 65%);
  --text-primary: hsl(221, 14%, 31%);
  --text-secondary: hsl(0, 0%, 100%);
  --text-dark: hsl(0, 0%, 100%);
}

.theme-two {
  --bg: hsl(0, 0%, 90%);
  --toggle-bg: hsl(0, 5%, 81%);
  --screen-bg: hsl(0, 0%, 93%);
  --toggle-color: hsl(25, 98%, 40%);
  --toggle-shadow: hsl(25, 99%, 27%);
  --main-key-bg: hsl(185, 42%, 37%);
  --main-key-shadow: hsl(185, 58%, 25%);
  --key-bg: hsl(45, 7%, 89%);
  --key-shadow: hsl(35, 11%, 61%);
  --text-primary: hsl(60, 10%, 19%);
  --text-secondary: hsl(0, 0%, 100%);
  --text-dark: hsl(0, 0%, 100%);
}
.theme-three {
  --bg: hsl(268, 75%, 9%);
  --toggle-bg: hsl(268, 71%, 12%);
  --screen-bg: hsl(268, 71%, 12%);
  --toggle-color: hsl(176, 100%, 44%);
  --toggle-shadow: hsl(177, 92%, 70%);
  --main-key-bg: hsl(281, 89%, 26%);
  --main-key-shadow: hsl(285, 91%, 52%);
  --key-bg: hsl(290, 70%, 36%);
  --key-shadow: hsl(35, 11%, 61%);
  --text-primary: hsl(52, 100%, 62%);
  --text-secondary: hsl(0, 0%, 100%);
  --text-dark: hsl(198, 20%, 13%);
}

@layer base {
  .radio-item {
    @apply opacity-0 appearance-none h-3 w-3 cursor-pointer bg-toggleColor rounded-full transition-opacity;
  }
  .radio-item:checked {
    @apply opacity-100;
  }
  .btn {
    @apply bg-keyBg shadow-btn shadow-keyShadow uppercase text-textPrimary rounded-lg flex justify-center items-center text-center hover:brightness-125 transition;
  }
  .main-btn {
    @apply bg-mainKeyBg text-textSecondary text-2xl;
  }
  .secondary-btn {
    @apply bg-toggleColor text-textSecondary text-2xl;
  }
}
